/***********************************
 GENERAL 
 ***********************************/

* {
	outline: 1px dashed red;
}

body {
	min-width: 1200px;
	background-color: #f2f2f2;
	font-family: "PT sans", "Arial", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


ul {
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
	
}

img {
	max-width: 100%;
	height: auto;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-size: 21px;
	font-weight: bold;
}


a {
	text-decoration: none;
}



/**********************************
 HEADER 
 **********************************/



.main-header {
	box-sizing: border-box;
	position: relative;
	min-height: 55px;
}

.main-header li {
	
	list-style: none;
}

.main-header-menu:first-of-type {
	float: left;
	width: 40%;
	font-size: 0;
}

.main-header-menu:last-of-type {
	float: right;
	width: 40%;
	font-size: 0;
}

.main-header-menu li {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 14px;
	text-align: center;
}

.main-header a {
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.main-header a:hover {
	color: #81b3d2;
}

.main-header a:active {
	color: #b2b2b2;
}

.main-header .active {
	color: #766357;
}

.main-header .active:hover {
	color: #604e43;
}

.main-header .active:active {
	color: #d6d0cc;
}

.main-header>a {
	position: absolute;
	left: 50%;
	margin-left: -69px;
}

/************************************
 INDEX 
 ***********************************/

.photo-logo img {
	display: block;
	width: 1200px;
	height: 510px;
}

.head {
	box-sizing: border-box;
	width: 45%;
	min-height: 215px;
	margin: 0 auto;
	padding-top: 30px;	
	padding-bottom: 55px;
	text-align: center;
}

.head h3 {
	padding-bottom: 20px;
}

.features .container {
	background-color: #81b3d2;
}

.photo {
	float: left;
	width: 66.666%;
}

.text {
	float: left;
	width: 33.333%;
	padding-top: 55px;
	text-align: center;
}

.features-main {
	float: left;
	width: 33.333%;
	min-height: 330px;
	vertical-align: middle;
	text-align: center;
	
}

.features-main img {
	display: block;
	margin: 0 auto;
	padding-top: 60px;
	background-color: white;
}

.features-content {
	float: left;
	width: 33.333%;
	min-height: 255px;
	text-align: center;
	background-color: #eeeeee;
}

.booking-header {
	box-sizing: border-box;
	width: 40%;
	min-height: 205px;
	margin: 0 auto;
	padding-top: 26px;
	padding-bottom: 50px;
	text-align: center;
	
}

.booking-form {
	position: relative;
}

.booking-form .wrapper {
	
	width: 570px;
	margin: 0 auto;
	text-align: center;
	
}

.booking-form-header {
	box-sizing: border-box;
	width: 570px;
	min-height: 85px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #766357;
}

.booking-form-header a {
	color: #ffffff;
	
}

.form-wrapper {
	margin: 0 auto;
}

.hotel-search-form {
	position: absolute;
	width: 570px;
	left: 315px;
	z-index: 1;
	background-color: white;

}

.booking-form-group {
	padding-bottom: 29px;
	font-size: 0;
}

.booking-form-group:first-of-type {
	padding-top: 55px;
}

.booking-form-group input {
	display: inline-block;
	vertical-align: middle;
	border: none;
	font-size: 14px;
}

.booking-form-group input[type="date"] {
	position: relative;
	width: 345px;
	height: 38px;
	background-color: #f2f2f2;
}

.booking-form-group input[type="number"] {
	width: 115px;
	height: 38px;
	background-color: #f2f2f2;
}

.booking-form-group label[for="in"],
.booking-form-group label[for="out"],
.booking-form-group label[for="adult"] {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 108px;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
}

.booking-form-group label[for="children"] {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 65px;
	margin-left: 54px;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
}



.hotel-search-form input[type="submit"] {
	width: 456px;
	height: 58px;
	margin-top: 25px;
	margin-bottom: 57px;
	background-color: #81b3d2;
	border: none;
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
}

.hotel-search-form input[type="submit"]:hover {
	background-color: #669ec0;
}

.hotel-search-form input[type="submit"]:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.map {
	position: relative;
	z-index: 0;
}

/************************************
 HOTELS 
 ***********************************/

.form-container {
	box-sizing: border-box;
	min-height: 217px;
	padding-top: 10px;
	background-color: #5985ac;
	background-image: url("../img/hotels-background.jpg");
	color: #ffffff;
}

.form-container form {
	width: 88%;
	margin: 0 auto;
}

.wrapper {
	border-bottom: 1px solid #e5e5e5;
}

.hotels-form-group {
	float: left;
	width: 200px;
	margin-right: 55px;
}

.hotels-form-group p {
	margin-top: 18px;
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 16px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	position: relative;
	margin: 5px 0;
	padding-left: 40px;
	line-height: 21px;
	cursor: pointer;
}

input[type="checkbox"] + label:before {
	position: absolute;
	content: "\2610";
	top: 0;
	left: 0;
	font-family: "symbols-sedona";
	font-size: 26px;
}

input[type="checkbox"]:checked + label:before {
	content: "\2611";
}


.container-price {
	float: right;
	position: relative;
	min-width: 328px;
}

.container-price p {
	margin-top: 17px;
	margin-bottom: 14px;
	font-size: 16px;
	font-weight: bold;
}

.container-price input {
	width: 155px;
	height: 30px;
	background-color: transparent;
	color: #ffffff;
	border: none;
	text-align: center;
}

.price-controls {
	display: inline-block;
	vertical-align: middle;
	float: right;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 1px;
}

.container-price input[type="submit"] {
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	border-radius: 1px;
}

.scale {
	float: right;
	width: 320px;
	margin-bottom: 32px;
	border: 1px solid white;
}

.sort {
	min-height: 86px;
	width: 88%;
	margin: 0 auto;
}

.hotels-container {
	box-sizing: border-box;
	min-height: 150px;
	width: 88%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.search-gallery {
	float: left;
	width: 135px;
	background-color: white;
}

.hotels-container img {
	display: block;
}

.hotels-container p {
	margin-top: 10px;
	margin-bottom: 16px;
}

.hotels-container .btn {
	display: block;
	padding: 5px 17px;
	color: #ffffff;
}

.hotels-container .description {
	background-color: #81b3d2;
}

.hotels-container .description:hover {
	background-color: #669ec0;
}

.hotels-container .description:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.hotels-container .booking {
	background-color: #766357;
}

.hotels-container .booking:hover {
	background-color: #604e43;
}

.hotels-container .booking:active {
	background-color: #503e33;
	color: #857871;
}

.search-item {
	float: left;
	width: 750px;
	padding-left: 30px;	
}

.search-item h3 {
	margin: 0;
}

.search-item a{
	color: #000000;
}

.search-item a:hover {
	color: #81b3d2;
}

.search-item a:active {
	color: #cacaca
}

.search-item-description {
	float: left;
	width: 110px;
	margin-right: 6px;
}

.search-item-booking {
	float: left;
	width: 145px;
}

.search-ratio {
	float: right;
	background-color: white;
	font-size: 23px;
}

.search-ratio div:first-child {
	margin-bottom: 43px;
}

.search-ratio div:last-child {
	box-sizing: border-box;
	width: 111px;
	height: 27px;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 27px;
	background-color: #f2f2f2;
	color: #666666;
}

.search-ratio span {
	float: right;
	color: #81b3d2;
	font-size: 17px;
}

/************************************
 FOOTER 
 ***********************************/
footer {
	min-height: 120px;
	padding-top: 35px;
}

.footer-ref {
	float: left;
	width: 33.333%;
	text-align: center;
	background-color: white;
}

.footer-ref a {
	line-height: 46.67px;
	font-size: 21px;
	font-weight: bold;
	color: #000000;
}

.footer-social {
	float: left;
	width: 33.333%;
	text-align: center;
	background-color: white;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	width: 44px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 0;
	background-color: #81b3d2;
	color: #ffffff;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.social-btn:last-child {
	margin-right: 0px;
}

.social-btn span {
	font-size: 19px;
}

.footer-copyright {
	float: left;
	width: 33.333%;
	text-align: center;
	background-color: white;
}

.footer-copyright p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 46.67px;
}

.footer-copyright a {
	margin-left: 5px;
}

.footer-copyright img {
	vertical-align: middle;
}



