/***********************************
 GENERAL 
 ***********************************/

body {
	background-color: #f2f2f2;
	font-family: "PT sans";
	font-size: 14px;
	text-transform: uppercase;
}

ul {
	margin: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
	
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
	
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	margin: 0;
	font-size: 21px;
	font-weight: bold;
}

/**********************************
 HEADER 
 **********************************/

.main-header li:first-of-type,
.main-header li:nth-of-type(2)  {
	float: left;
	width: 20%;
	
}

.main-header li:nth-of-type(3),
.main-header li:last-of-type {
	float: right;
	width: 20%;
	
}

.main-header {
	position: relative;
	min-height: 60px;
	
	background-color: #ffffff;
}

.main-header>a {
	position: absolute;
	left: 533px;
}

/************************************
 INDEX 
 ***********************************/

.head {
	width: 45%;
	min-height: 215px;
	margin: 0 auto;
	padding-top: 65px;
	text-align: center;
	
}


.photo {
	float: left;
	width: 66.666%;
}

.text {
	float: left;
	width: 33.333%;
	padding-top: 55px;
	text-align: center;
}

.features-main {
	float: left;
	width: 33.333%;
	min-height: 330px;
	vertical-align: middle;
	text-align: center;
	
}

.features-main img {
	display: block;
	margin: 0 auto;
	padding-top: 60px;
	background-color: white;
}

.features-content {
	float: left;
	width: 33.333%;
	min-height: 255px;
	text-align: center;
	
}

.booking-header {
	width: 40%;
	min-height: 205px;
	margin: 0 auto;
	padding-top: 60px;
	text-align: center;
	
}

.booking-form .wrapper {
	width: 570px;
	margin: 0 auto;
	text-align: center;
	
}

.booking-form-header {
	width: 570px;
	min-height: 85px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	background-color: #766357;
}

.booking-form-header a {
	color: #ffffff;
	
}

.form-wrapper {
	margin: 0 auto;
}

.hotel-search-form {
	position: absolute;
	width: 570px;
	left: 315px;
	z-index: 1;
	background-color: white;

}

.booking-form-group:first-of-type {
	padding-top: 55px;
}

.map {
	position: relative;
	z-index: 0;
}

/************************************
 HOTELS 
 ***********************************/

.form-container {
	padding-top: 35px;
	
}

.hotels-form-group {
	float: left;
	width: 185px;
	padding-left: 70px;
	background-color: white;
}

.hotels-container {
	min-height: 155px;
	
}

.container-price {
	float: right;
}

.search-gallery {
	float: left;
	width: 135px;
	background-color: white;
}

figure {
	height: 90px;
}

.search-item {
	float: left;
	width: 750px;
	min-height: 90px;
	
}

.search-item-description {
	float: left;
	width: 110px;
}

.search-item-booking {
	float: left;
	width: 145px;
}

.search-ratio {
	float: right;
	min-height: 90px;
	background-color: white;
}

/************************************
 FOOTER 
 ***********************************/
footer {
	min-height: 120px;
	padding-top: 35px;
}

.footer-ref {
	float: left;
	width: 33.333%;
	text-align: center;
	background-color: white;
}

.footer-social {
	float: left;
	width: 33.333%;
	text-align: center;
	background-color: white;
}

.footer-copyright {
	float: left;
	width: 33.333%;
	text-align: center;
	background-color: white;
}

